page {
  background: #ffffff;
  width: 100%;
  height: 100%;
}
.con-query {
  height: 4.8rem;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
}

.pages_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pages_header_top {
  width: 33.3%;
  height: 60rpx;
  border-left: 5px solid green;
  border-right: 5px solid green;
}

.pages_header_btm {
  width: 70%;
  background: green;
  height: 120rpx;
  line-height: 120rpx;
  text-align: center;
  color: white;
  border-radius: 10rpx;
  font-weight: normal;
  font-size: 16pt;
}

.tips {
  text-align: center;
  margin: 60rpx 0;
  font-size: 12pt;
  color: #888888;
}
.plate-input-text {
  text-align: center;
  line-height: 90rpx;
  color: #f39900;
}
.plate-input-flag {
  float: right;
  margin-right: 8%;
  font-size: 14px;
}
.plate-input-flag .new-energy {
  color: #14c414;
}
.plate-input-body {
  /*border: 1px solid red;*/
  height: 80rpx;
  width: 88%;
  margin: 0 6% 2px 6%;
}
.plate-input-content {
  display: flex;
  flex-direction: row;
  height: 80rpx;
}

.plate-nums-foc {
  flex: 1;
  border: 2rpx solid #ffb93f;
  margin: 0 5rpx 0 5rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  border-radius: 4rpx;
}

.plate-nums-first {
  flex: 1;
  border: 1rpx solid #cccccc;
  margin: 0 5rpx 0 5rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

.split-line {
  width: 8px;
  height: 38px;
}

.plate-num-text {
  flex: 1;
  line-height: 80rpx;
  height: 100%;
  box-sizing: border-box;
  font-size: 40rpx;
  font-weight: 300;
}

.new-plate-input-content {
  display: flex;
  flex-direction: row;
  height: 100rpx;
}

.keyboard {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 15rpx solid #f4f4f4;
}
.keyboard .kb_top {
  width: 100%;
  height: 74rpx;
  background: #fff;
  border-top: solid #ebebeb 2rpx;
  border-bottom: 15rpx solid #f4f4f4;
}

.keyboard .kb_top .kb_close {
  position: absolute;
  right: 0;
  display: block;
  height: 74rpx;
  padding: 0 34rpx;
  color: #ffb93f;
  line-height: 74rpx;
  font-size: 30rpx;
}

.td {
  font-family: '微软雅黑';
  flex-grow: 1;
  text-align: center;
  font-size: 34rpx;
  height: 86rpx;
  line-height: 80rpx;
  background: #fff;
  margin: 10rpx 5rpx;
  color: #333;
  border-radius: 2rpx;
  box-shadow: 0rpx 2rpx 0rpx #a9a9a9;
}

.td_nor {
  flex: 1 1 6%;
}

.td_num {
  flex: 1 1 8%;
}

.td_spec {
  flex: 1 1 12%;
}

.board_bg {
  box-shadow: 0 0 0 #e5e5e5;
  background: #e5e5e5;
}
.del-first {
  position: absolute;
  bottom: 10rpx;
  right: 10rpx;
  width: 100rpx;
  height: 86rpx;
  background-color: #fff;
  box-shadow: 0rpx 2rpx 0rpx #a9a9a9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rpx;
}

.del-hover {
  position: absolute;
  bottom: 10rpx;
  right: 10rpx;
  width: 137rpx;
  height: 86rpx;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rpx;
  box-shadow: 0 0 0 #e5e5e5;
}
.del-img {
  display: block;
  width: 46rpx;
  height: 38rpx;
}
.color-white {
  color: #ffffff;
}

.color-red {
  color: #ff0000;
}
.bule {
  color: #0000ff;
}
