._iPhoneX {
  padding-bottom: 40rpx;
}

.modal-box {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper {
  margin: 30% 30rpx;
  height: 380rpx;
  padding: 30rpx;
  background-color: #fff;
  border-radius: 10rpx;
  z-index: 300;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  overflow: hidden;
  text-align: left;

  .modal-title {
    display: flex;
    font-size: 30rpx;
    color: #333333;
    .titleWrapper {
      flex: 1;
      .title-text {
        font-size: 36rpx;
        font-weight: bold;
      }
    }
  }

  .modal-content {
    .modal-input {
      display: flex;

      .input {
        border: 1rpx solid #979797;
        margin-right: 6rpx;
        border-radius: 3rpx;
        flex: 1;
        text-align: center;
        padding: 16rpx;
        height: 44rpx;
      }
      .input:nth-child(1) {
        border-right-width: 0;
        margin-right: 0;
        position: relative;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      .input:nth-child(1)::after {
        content: '';
        position: absolute;
        right: -1rpx;
        width: 1rpx;
        height: 40rpx;
        background-color: #979797;
        z-index: -10;
      }
      .input:nth-child(2) {
        position: relative;
        border-left-width: 0;
        margin-right: 20rpx;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
      .input:nth-child(2)::after {
        content: '';
        position: absolute;
        right: -16rpx;
        top: 45%;
        width: 10rpx;
        height: 10rpx;
        border-radius: 50%;
        background-color: #979797;
      }
      .input:nth-child(8) {
        border: 1rpx dashed #979797;
      }

      .activeInput {
        border-radius: 6rpx !important;
        border: 1rpx solid #ff5000 !important;
      }
    }
  }

  .model-btn-group {
    display: flex;
    box-sizing: border-box;
    font-size: 32rpx;

    .confirm {
      flex: 1;
      font-size: 36rpx;
      color: #fff;
      background-color: #ff5000;
    }
    .confirm.disabled {
      background-color: #fafafa;
      color: rgba(0, 0, 0, 0.18);
    }
  }
}

.keyboard-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(210, 213, 219, 90);

  // 公共样式
  .pro-li {
    font-size: 32rpx;
    color: #353535;
    height: 76rpx;
    width: 62rpx;
    line-height: 76rpx;
    text-align: center;
    margin-left: 12rpx;
    margin-bottom: 20rpx;
    background-color: #fff;
    box-shadow: 0rpx 1rpx 2rpx 0 #979797;
    border-radius: 10rpx;
    flex: 1;
  }

  // 省键盘
  .provinces {
    overflow: hidden;
    padding-top: 20rpx;
    .fl {
      float: left;
    }
  }
  .provinces.hidden,
  .keyNums.hidden {
    display: none;
  }

  // 号码键盘
  .keyNums {
    overflow: hidden;
    padding-top: 20rpx;
    display: flex;
    flex-direction: column;

    .pro-li:nth-child(16) {
      color: red;
    }
    .disabled {
      background-color: #f7f7f7;
      color: #ccc;
    }
    .row {
      display: flex;
    }
    .numRow {
      padding: 0 10rpx;
    }
    .strOne {
      padding: 0 10rpx;
      .strOneItem {
        flex: 1;
      }
    }
    .strTwo {
      padding: 0 40rpx;
    }
    .strThree {
      padding-left: 116rpx;
      padding-right: 10rpx;
      .kb-icon {
        flex: 1.5;
        background: #abb3bd;
        margin-left: 40rpx;
      }
    }
  }
}

.modal-cover {
  width: 100%;
  background-color: #242424;
  opacity: 0.5;
  z-index: 299;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}
